.6_923 { 
	overflow:hidden;
}

.e6_923 { 
	background-color:rgba(255, 255, 255, 1);
	width:800px;
	height:1535px;
	position:absolute;
}
.e6_924 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:800px;
	height:1400px;
	position:absolute;
	left:0px;
	top:5px;
}
.e6_925 { 
	width:800px;
	height:123.40205383300781px;
	position:absolute;
	left:0px;
	top:1209px;
}
.e6_926 { 
	width:600px;
	height:113.40205383300781px;
	position:absolute;
	left:200px;
	top:10px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_927 { 
	background-color:rgba(155.00000596046448, 30.00000011175871, 44.000001177191734, 1);
	width:800px;
	height:10px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_928 { 
	background-color:rgba(155.00000596046448, 30.00000011175871, 44.000001177191734, 1);
	width:200px;
	height:113px;
	position:absolute;
	left:0px;
	top:10px;
}
.e6_929 { 
	background-color:rgba(155.00000596046448, 30.00000011175871, 44.000001177191734, 1);
	width:620px;
	height:58px;
	position:absolute;
	left:180px;
	top:65px;
}
.e6_930 { 
	color:rgba(255, 255, 255, 1);
	width:182px;
	height:100px;
	position:absolute;
	left:13px;
	top:10px;
	font-family:GFS Didot;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
.e6_931 { 
	color:rgba(255, 255, 255, 1);
	width:110px;
	height:46px;
	position:absolute;
	left:200px;
	top:60px;
	font-family:GFS Didot;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e6_932 { 
	color:rgba(255, 255, 255, 1);
	width:110px;
	height:46px;
	position:absolute;
	left:318px;
	top:60px;
	font-family:GFS Didot;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e6_933 { 
	color:rgba(255, 255, 255, 1);
	width:110px;
	height:46px;
	position:absolute;
	left:436px;
	top:60px;
	font-family:GFS Didot;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e6_934 { 
	color:rgba(255, 255, 255, 1);
	width:110px;
	height:46px;
	position:absolute;
	left:564px;
	top:60px;
	font-family:GFS Didot;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e6_935 { 
	color:rgba(255, 255, 255, 1);
	width:110px;
	height:46px;
	position:absolute;
	left:684px;
	top:60px;
	font-family:GFS Didot;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}
.e6_936 { 
	width:800px;
	height:202.95147705078125px;
	position:absolute;
	left:0px;
	top:1332.0484619140625px;
}
.e6_937 { 
	background-color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 1);
	width:800px;
	height:202.95147705078125px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_938 { 
	width:80.02012634277344px;
	height:74px;
	position:absolute;
	left:456px;
	top:78.95147705078125px;
}
.e6_939 { 
	color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:61.65525817871094px;
	height:72.25881958007812px;
	position:absolute;
	left:18.3648681640625px;
	top:1.741180419921875px;
	font-family:Montserrat;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e6_940 { 
	background-color:rgba(255, 255, 255, 1);
	width:4.4039435386657715px;
	height:11.31765079498291px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_941 { 
	background-color:rgba(255, 255, 255, 1);
	width:9.541868209838867px;
	height:9.576471328735352px;
	position:absolute;
	left:0px;
	top:20.023574829101562px;
}
.e6_942 { 
	background-color:rgba(255, 255, 255, 1);
	width:9.541868209838867px;
	height:11.31765079498291px;
	position:absolute;
	left:0px;
	top:39.1763916015625px;
}
.e6_943 { 
	color:rgba(255, 255, 255, 1);
	width:79px;
	height:18px;
	position:absolute;
	left:112px;
	top:72.9515380859375px;
	font-family:GFS Didot;
	text-align:left;
	font-size:13px;
	letter-spacing:60;
}
.e6_944 { 
	color:rgba(255, 255, 255, 1);
	width:168px;
	height:18px;
	position:absolute;
	left:67px;
	top:42.951480865478516px;
	font-family:GFS Didot;
	text-align:left;
	font-size:18px;
	letter-spacing:60;
}
.e6_945 { 
	width:179px;
	height:43.00054931640625px;
	position:absolute;
	left:559px;
	top:94.95147705078125px;
}
.e6_946 { 
	width:139.22218322753906px;
	height:22.138710021972656px;
	position:absolute;
	left:0px;
	top:20.86183738708496px;
}
.e6_947 { 
	width:139.22218322753906px;
	height:22.138710021972656px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_948 { 
	width:139.22218322753906px;
	height:22.138710021972656px;
	position:absolute;
	left:0px;
	top:0px;
}
.6_949 { 
	border:2px solid rgba(224.000001847744, 185.00000417232513, 115.00000074505806, 1);
}
.e6_949 { 
	width:138.22772216796875px;
	height:21.287221908569336px;
	position:absolute;
	left:0.49721649289131165px;
	top:0.4257354736328125px;
}
.e6_950 { 
	color:rgba(255, 255, 255, 1);
	width:74.82011413574219px;
	height:5px;
	position:absolute;
	left:14.206350326538086px;
	top:6.1381683349609375px;
	font-family:Montserrat;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e6_951 { 
	width:39.777767181396484px;
	height:22.138710021972656px;
	position:absolute;
	left:139.22222900390625px;
	top:20.861663818359375px;
}
.e6_952 { 
	background-color:rgba(224.000001847744, 185.00000417232513, 115.00000074505806, 1);
	width:39.777767181396484px;
	height:22.138710021972656px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_953 { 
	color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 1);
	width:12.430551528930664px;
	height:8.514888763427734px;
	position:absolute;
	left:12.752741813659668px;
	top:5.9604339599609375px;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_954 { 
	color:rgba(255, 255, 255, 1);
	width:163px;
	height:5px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e6_955 { 
	width:244px;
	height:51px;
	position:absolute;
	left:57px;
	top:102.95147705078125px;
}
.e6_956 { 
	color:rgba(255, 255, 255, 1);
	width:244px;
	height:51px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e6_957 { 
	color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:99px;
	height:76px;
	position:absolute;
	left:328px;
	top:74.95147705078125px;
	font-family:Montserrat;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e6_958 { 
	width:800px;
	height:556px;
	position:absolute;
	left:0px;
	top:318px;
	background-image:url(images/big_tiny_belly_xtnnrqyc7ts_unsplash_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_959 { 
	background-color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 0.20000000298023224);
	width:694px;
	height:192px;
	position:absolute;
	left:53px;
	top:357px;
}
.e6_960 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 1);
	width:550px;
	height:168px;
	position:absolute;
	left:128px;
	top:370px;
	font-family:GFS Didot;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
.e6_961 { 
	width:600px;
	height:270px;
	position:absolute;
	left:100px;
	top:566px;
}
.e6_962 { 
	background-color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 0.7599999904632568);
	width:600px;
	height:270px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_963 { 
	width:318px;
	height:187px;
	position:absolute;
	left:31px;
	top:22px;
}
.e6_964 { 
	width:150px;
	height:150px;
	position:absolute;
	left:0px;
	top:37px;
	background-image:url(images/rectangle_132.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_965 { 
	width:150px;
	height:150px;
	position:absolute;
	left:168px;
	top:37px;
	background-image:url(images/rectangle_134.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_966 { 
	color:rgba(255, 255, 255, 1);
	width:160px;
	height:29px;
	position:absolute;
	left:76px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e6_967 { 
	width:197px;
	height:29px;
	position:absolute;
	left:82px;
	top:220px;
}
.e6_968 { 
	color:rgba(255, 255, 255, 1);
	width:172px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e6_969 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:13px;
	height:14px;
	position:absolute;
	left:184px;
	top:6px;
}
.e6_970 { 
	width:192px;
	height:194px;
	position:absolute;
	left:377px;
	top:22px;
}
.e6_971 { 
	color:rgba(255, 255, 255, 1);
	width:88px;
	height:29px;
	position:absolute;
	left:51px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e6_972 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:192px;
	height:31px;
	position:absolute;
	left:0px;
	top:29px;
}
.e6_973 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
	width:158px;
	height:29px;
	position:absolute;
	left:16px;
	top:31px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e6_974 { 
	background-color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:192px;
	height:126px;
	position:absolute;
	left:0px;
	top:68px;
}
.e6_975 { 
	background-color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 1);
	width:158px;
	height:31px;
	position:absolute;
	left:16px;
	top:77px;
}
.e6_976 { 
	background-color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 1);
	width:158px;
	height:31px;
	position:absolute;
	left:16px;
	top:154px;
}
.e6_977 { 
	background-color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 1);
	width:158px;
	height:31px;
	position:absolute;
	left:16px;
	top:116px;
}
.e6_978 { 
	color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:78px;
	height:29px;
	position:absolute;
	left:37px;
	top:80px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e6_979 { 
	color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:72px;
	height:29px;
	position:absolute;
	left:37px;
	top:155px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e6_980 { 
	color:rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
	width:91px;
	height:29px;
	position:absolute;
	left:37px;
	top:118px;
	font-family:Montserrat;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e6_981 { 
	transform: rotate(-179.99999999999997deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:164px;
	top:109px;
}
.e6_982 { 
	transform: rotate(-179.99999999999997deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:164px;
	top:139px;
}
.e6_983 { 
	transform: rotate(-179.99999999999997deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:10px;
	height:10px;
	position:absolute;
	left:164px;
	top:176px;
}
.e6_984 { 
	width:118px;
	height:37px;
	position:absolute;
	left:409px;
	top:223px;
}
.e6_985 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:118px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_986 { 
	color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 1);
	width:84px;
	height:22px;
	position:absolute;
	left:20px;
	top:2px;
	font-family:Montserrat;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e6_987 { 
	width:800px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}
.6_988 { 
	overflow:hidden;
}
.e6_988 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:800px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_989 { 
	width:806.6666870117188px;
	height:358.3333435058594px;
	position:absolute;
	left:-3.3333282470703125px;
	top:-46.666656494140625px;
	background-image:url(images/palm_trees_at_night_258154_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_990 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:410px;
	height:112px;
	position:absolute;
	left:206px;
	top:79px;
}
.e6_991 { 
	color:rgba(255, 255, 255, 1);
	width:197px;
	height:24px;
	position:absolute;
	left:105px;
	top:59px;
	font-family:GFS Didot;
	text-align:left;
	font-size:33px;
	letter-spacing:60;
}
.e6_992 { 
	transform: rotate(0.2843439865317994deg);
	width:403.0049743652344px;
	height:0px;
	position:absolute;
	left:3px;
	top:53px;
}
.6_992 { 
	border:1px solid rgba(247.00000047683716, 247.00000047683716, 247.00000047683716, 1);
}
.e6_993 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.20000000298023224);
	width:410px;
	height:112px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_994 { 
	color:rgba(255, 255, 255, 1);
	width:398px;
	height:24px;
	position:absolute;
	left:6px;
	top:0px;
	font-family:GFS Didot;
	text-align:left;
	font-size:43px;
	letter-spacing:60;
}
.e6_995 { 
	color:rgba(255, 255, 255, 0.6299999952316284);
	width:35px;
	height:21px;
	position:absolute;
	left:475px;
	top:15px;
	font-family:Montserrat;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}
.e6_996 { 
	color:rgba(255, 255, 255, 0.6299999952316284);
	width:46px;
	height:21px;
	position:absolute;
	left:716px;
	top:15px;
	font-family:Montserrat;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}
.e6_997 { 
	color:rgba(255, 255, 255, 0.6299999952316284);
	width:46px;
	height:21px;
	position:absolute;
	left:638px;
	top:15px;
	font-family:Montserrat;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}
.e6_998 { 
	color:rgba(255, 255, 255, 0.6299999952316284);
	width:64px;
	height:21px;
	position:absolute;
	left:541px;
	top:15px;
	font-family:Montserrat;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}
.e6_999 { 
	width:630px;
	height:242px;
	position:absolute;
	left:88px;
	top:906px;
}
.e6_1000 { 
	background-color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 0.7599999904632568);
	width:150px;
	height:40px;
	position:absolute;
	left:240px;
	top:52px;
}
.e6_1001 { 
	background-color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 0.7599999904632568);
	width:150px;
	height:40px;
	position:absolute;
	left:240px;
	top:152px;
}
.e6_1002 { 
	background-color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 0.7599999904632568);
	width:150px;
	height:40px;
	position:absolute;
	left:240px;
	top:102px;
}
.e6_1003 { 
	background-color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 0.7599999904632568);
	width:150px;
	height:40px;
	position:absolute;
	left:321px;
	top:202px;
}
.e6_1004 { 
	background-color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 0.7599999904632568);
	width:150px;
	height:40px;
	position:absolute;
	left:161px;
	top:202px;
}
.e6_1005 { 
	background-color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 0.7599999904632568);
	width:150px;
	height:40px;
	position:absolute;
	left:80px;
	top:52px;
}
.e6_1006 { 
	background-color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 0.7599999904632568);
	width:150px;
	height:40px;
	position:absolute;
	left:80px;
	top:152px;
}
.e6_1007 { 
	background-color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 0.7599999904632568);
	width:150px;
	height:40px;
	position:absolute;
	left:80px;
	top:102px;
}
.e6_1008 { 
	background-color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 0.7599999904632568);
	width:150px;
	height:40px;
	position:absolute;
	left:400px;
	top:52px;
}
.e6_1009 { 
	background-color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 0.7599999904632568);
	width:150px;
	height:40px;
	position:absolute;
	left:400px;
	top:152px;
}
.e6_1010 { 
	background-color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 0.7599999904632568);
	width:150px;
	height:40px;
	position:absolute;
	left:400px;
	top:102px;
}
.e6_1011 { 
	background-color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 0.7599999904632568);
	width:150px;
	height:40px;
	position:absolute;
	left:480px;
	top:202px;
}
.e6_1012 { 
	background-color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 0.7599999904632568);
	width:380px;
	height:40px;
	position:absolute;
	left:131px;
	top:2px;
}
.e6_1013 { 
	background-color:rgba(20.000000707805157, 39.00000147521496, 74.0000031888485, 0.7599999904632568);
	width:150px;
	height:40px;
	position:absolute;
	left:0px;
	top:202px;
}
.e6_1014 { 
	color:rgba(255, 255, 255, 1);
	width:49px;
	height:40px;
	position:absolute;
	left:131px;
	top:52px;
	font-family:GFS Didot;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e6_1015 { 
	color:rgba(255, 255, 255, 1);
	width:89px;
	height:40px;
	position:absolute;
	left:431px;
	top:52px;
	font-family:GFS Didot;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e6_1016 { 
	color:rgba(255, 255, 255, 1);
	width:142px;
	height:40px;
	position:absolute;
	left:244px;
	top:52px;
	font-family:GFS Didot;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e6_1017 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:40px;
	position:absolute;
	left:106px;
	top:152px;
	font-family:GFS Didot;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e6_1018 { 
	color:rgba(255, 255, 255, 1);
	width:36px;
	height:40px;
	position:absolute;
	left:457px;
	top:152px;
	font-family:GFS Didot;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e6_1019 { 
	color:rgba(255, 255, 255, 1);
	width:138px;
	height:40px;
	position:absolute;
	left:6px;
	top:202px;
	font-family:GFS Didot;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e6_1020 { 
	color:rgba(255, 255, 255, 1);
	width:113px;
	height:40px;
	position:absolute;
	left:499px;
	top:202px;
	font-family:GFS Didot;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e6_1021 { 
	color:rgba(255, 255, 255, 1);
	width:82px;
	height:40px;
	position:absolute;
	left:354px;
	top:202px;
	font-family:GFS Didot;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e6_1022 { 
	color:rgba(255, 255, 255, 1);
	width:125px;
	height:40px;
	position:absolute;
	left:173px;
	top:202px;
	font-family:GFS Didot;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e6_1023 { 
	color:rgba(255, 255, 255, 1);
	width:76px;
	height:40px;
	position:absolute;
	left:278px;
	top:152px;
	font-family:GFS Didot;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e6_1024 { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:40px;
	position:absolute;
	left:103px;
	top:102px;
	font-family:GFS Didot;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e6_1025 { 
	color:rgba(255, 255, 255, 1);
	width:71px;
	height:40px;
	position:absolute;
	left:440px;
	top:102px;
	font-family:GFS Didot;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e6_1026 { 
	color:rgba(255, 255, 255, 1);
	width:33px;
	height:40px;
	position:absolute;
	left:299px;
	top:102px;
	font-family:GFS Didot;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e6_1027 { 
	color:rgba(255, 255, 255, 1);
	width:353px;
	height:40px;
	position:absolute;
	left:144px;
	top:0px;
	font-family:GFS Didot;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e6_1028 { 
	color:rgba(255, 255, 255, 1);
	width:221px;
	height:22px;
	position:absolute;
	left:298px;
	top:1502px;
	font-family:GFS Didot;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
